
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ML Prediction</title>
</head>

<style>
    body {
        background-color: rgb(9, 153, 231)
    }
</style>

<body style="text-align:center;"> 


    <div>
        <a href="/" style="text-align: left;color:black;text-decoration:none;font-family:roman;font-weight:bold;">Account</a>
        <h1>Upload CSV Dataset for Machine Learning</h1><br>
        <form action="/indes" method="post" enctype="multipart/form-data">
            <input type="file" name="file"  style="height:40px;width:400px;border-radius:20px;font-weight:bold;">
            <input type="submit" value="Upload and Predict"  style="height:40px;width:200px;border-radius:20px;font-weight:bold;">
        </form>
    </div>

</body>
</html>

