<!DOCTYPE <!DOCTYPE html> 
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Credit Card Fraud Detection</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    
    <style>
        body {
            background-color: rgb(9, 153, 231)
        }
    </style>

    <body> 

        <h1 style="color: black;font-family:Roman;font-weight:bold;"><marquee>Credit Card Fraud Detection</marquee></h1> 

        <ul>
            <div style="text-align:center;">
                <div>
                    <a href="" style="font-family:Roman;font-weight:bold;color:black;text-decoration:none;">Home</a>&nbsp;&nbsp;
                    <a href="/about" style="font-family:Roman;font-weight:bold;color:black;text-decoration:none;">About</a>&nbsp;&nbsp;
                    <a href="/contact" style=" font-family:Roman;font-weight:bold;color:black;text-decoration:none;">Contact Us&nbsp;</a>&nbsp;
                    <a href="/register" style="font-family:Roman;font-weight:bold;color:black;text-decoration:none;">Sign Up</a>&nbsp;
                </div>
            </div>
        </ul><br><br> 

        <img src="{{url_for('static', filename='builtin/card.webp') }}">

        <br><br><br>
        <h2>Overview of Existing Techniques</h2>
        <p style="font-weight:bold;">Challenges and Scope in  Credit Card Fraud Detection</p>
        <p>Credit cards have become a fundamental part of modern commerce, facilitating seamless transactions 
            both online and offline.Several techniques have been employed for credit card fraud detection, ranging from rule-based systems to 
            advanced machine learning and deep learning models. Early fraud detection systems relied heavily on rule-
            based techniques. These systems used predefined rules to flag anomalous transactions.
            However, this convenience comes with a significant risk—fraudulent 
            transactions.The proposed system is designed to be scalable, efficient, and adaptable, 
            achieving superior performance metrics such as accuracy, precision, recall, and F1-score compared to traditional methods.
        </p><br>


            <p style="text-align:center;color:black;font-family:Roman;font-weight:bold;">Established by 2024 - All Rights  Reserved | Developed by ꧁༒☸BLACK☠PEARL☸༒꧂</p>

    </body>
</html>>